.DS_Store
Screenshot-AWS.png

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

key

.envrc
.env
.aws-credentials.json

public/bundle.js
public/bundle.js.gz
public/bundle.js.map
USER_STORY.md
