doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js")
    script(src="https://www.gstatic.com/firebasejs/4.3.1/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/4.3.1/firebase-auth.js")
    script(src="https://www.gstatic.com/firebasejs/4.3.1/firebase-database.js")
    script(src="https://www.gstatic.com/firebasejs/4.3.1/firebase-messaging.js")
  body
    block content
